* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fce4ec;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  background: #f8bbd0;
  padding: 20px;
  border-radius: 25px;
  width: 300px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.display {
  margin-bottom: 15px;
}

.display input {
  width: 100%;
  height: 60px;
  font-size: 32px;
  border: none;
  border-radius: 15px;
  padding: 10px;
  text-align: right;
  background: #f3e5f5;
  color: #333;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  height: 55px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  background: #fce4ec;
  color: #444;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: inset -2px -2px 5px rgba(255,255,255,0.6),
              inset 2px 2px 5px rgba(0,0,0,0.1);
}

.btn:hover {
  background: #f48fb1;
  color: #fff;
}

.operator {
  background: #f06292;
  color: white;
}

.function {
  background: #ec407a;
  color: white;
}

.equals {
  background: #d81b60;
  color: white;
}

.zero {
  grid-column: span 2;
  border-radius: 30px;
}
